<div class="chat">
  <div class="chat__messages">
    <ng-container *ngFor="let message of messages">
      <app-message [message]="message"></app-message>
    </ng-container>
  </div>
</div>
<br>
<div class="input">
  <nz-row [nzGutter]="[12]">
    <nz-col nzSpan="18">
      <input nz-input type="text" [(ngModel)]="inputMessage" />
    </nz-col>
    <nz-col nzSpan="6"
      ><button
        (click)="sendMessage()"
        [disabled]="!inputMessage"
        nz-button
        nzType="primary"
        nzBlock
      >
        Send
      </button></nz-col
    >
  </nz-row>
</div>
